# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# VS Code
.vscode/

# Mac
.DS_Store

# Uploads
uploads/

# Alembic cache
alembic/versions/__pycache__/

#learning
learning/

#requirements
requirement/

#storage
storage/

#venv2nd
venv_linux/

# todo
todo/